<p>
  Click <strong>Login with Okta</strong> to redirect to your Okta org for
  authentication.
</p>
<table class="ui collapsing celled table compact inverted grey">
  <thead>
    <tr>
      <th colspan="2">If you're using the mock-okta server:</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>User</td><td><strong>george</strong></td></tr>
    <tr><td>Pass</td><td><strong>Asdf1234</strong></td></tr>
  </tbody>
</table>
<p>
  <button id="login" data-se="login-link" class="ui icon button blue">
    <i class="sign in icon"></i>
    Login with Okta
  </button>
</p>
