<div class="profile">
  <h2 class="ui icon header">
    <i class="hand peace icon"></i>
    <div class="content">
      Signed In
    </div>
  </h2>

  <table class="ui collapsing celled table inverted black">
    <thead>
      <tr>
        <th colspan="2">Some claims from the id_token</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>email</td><td data-se="email">{{user.email}}</td></tr>
      <tr><td>exp</td><td>{{user.expFormatted}}</td></tr>
    </tbody>
  </table>

  <p>
    <button id="logout" data-se="logout-link" class="ui grey icon button">
      <i class="sign out icon"></i>
      Sign out
    </button>
  </p>
</div>
