<ul data-se="scenarios">
  <li>
    <a href="/authorization-code/login-redirect" data-se="auth-code-login-redirect">Authorization Code: Login with Okta</a>
  </li>
  <li>
    <a href="/authorization-code/login-custom" data-se="auth-code-login-custom">Authorization Code: Login using a custom login form</a>
  </li>
</ul>
