<p style="margin-bottom:10px">
  Click the "Login with Okta" link, and use these credentials:<br />
  User: <strong>george</strong><br />
  Pass: <strong>Asdf1234</strong><br />
</p>

<p>
  <a id="login" data-se="login-link" href="javascript:void(0);">Login with Okta</a>
</p>
