<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App</title>
    <link href="/assets/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/okta-theme.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/hljs/tomorrow.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/semantic-ui/semantic.min.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/samples.css" type="text/css" rel="stylesheet"/>
    <base href="/"/>
  </head>
  <body id="samples">
    <div class="ui inverted left fixed vertical menu">
      <a id="item-overview" class="item" href="/">Overview</a>
      <div id="section-authorization-code" class="item">
        <div class="header">Authorization Code</div>
        <div class="menu">
          <a id="item-login-redirect" data-se="auth-code-login-redirect" class="item" href="/authorization-code/login-redirect">
            Login by redirecting to Okta
          </a>
          <a id="item-login-custom" data-se="auth-code-login-custom" class="item" href="/authorization-code/login-custom">
            Create a custom login page
          </a>
        </div>
      </div>
    </div>

    <div id="content" class="ui padded grid relaxed">
        <div id="doc" class="column eight wide"><div class="doc-login-custom">
  <h2 class="ui dividing header">
    Create a custom login page
    <div class="sub header">Authorization code grant</div>
  </h2>

  <p>
    Use the
    <a href="http://developer.okta.com/code/javascript/okta_sign-in_widget.html">
      Sign-In Widget
    </a>
    to quickly and easily create a custom login page for your app. The widget is
    a Javascript wrapper around the
    <a href="http://developer.okta.com/docs/api/resources/authn.html">
      Authentication API
    </a> - it implements a UI layer for the Primary Auth, MFA, and Recovery flows.
  </p>
  <p>
    Read more about
    configuration options in the
    <a href="https://github.com/okta/okta-signin-widget#configuration">README</a>.
  </p>
  <div class="example">
    <h3>Example</h3>
    <div class="ui segment">
      <pre><code class="javascript">const signIn = new SignIn({
  baseUrl: '{{config.oidc.oktaUrl}}',
  clientId: '{{config.oidc.clientId}}',
  redirectUri: '{{config.oidc.redirectUri}}',
  authParams: {
    issuer: '{{config.oidc.issuer}}',
    responseType: 'code',
    scopes: ['openid', 'email', 'profile'],
  },
  i18n: {
    en: {
      'primaryauth.title': 'Use john/Asdf1234 for the mock Okta server',
    },
  },
});

signIn.renderEl({ el: '#app-container' }, () => {});</code></pre>
    </div>
  </div>
</div>
</div>
        <div class="column seven wide sample-col right floated">
          <div class="ui orange labels">
            <div class="ui label" data-tooltip="Backend" data-inverted="" data-position="bottom center">
              {{#config.server.environment}}
                {{#config.server.framework}}
                  {{config.server.framework}}
                  <div class="detail">{{config.server.environment}}</div>
                {{/config.server.framework}}
                {{^config.server.framework}}
                  {{config.server.environment}}
                {{/config.server.framework}}
              {{/config.server.environment}}
              {{^config.server.environment}}
                Express <div class="detail">NodeJS</div>
              {{/config.server.environment}}
            </div>
            <div class="ui label" data-tooltip="Frontend" data-inverted="" data-position="bottom center">
              <span id="frontend-framework">
                <span data-se="js-loading" class="ui active inline loader mini inverted"></span>
              </span>
              <div class="detail" id="frontend-environment"></div>
            </div>
          </div>
          <div id="app-container">
            <div id="default-app-text">&lbrace;&lbrace; Samples render here &rbrace;&rbrace;</div>
          </div>
        </div>
    </div>

    {{#config.server.useWebpackDevServer}}
    <script src="/webpack-dev-server.js"></script>
    {{/config.server.useWebpackDevServer}}

    <script src="/assets/bundle.js"></script>
    <script src="/assets/doc.js"></script>
    <script>
     var options = {
       container: '#app-container',
       oktaUrl: '{{{config.oidc.oktaUrl}}}',
       issuer: '{{{config.oidc.issuer}}}',
       clientId: '{{config.oidc.clientId}}',
       redirectUri: '{{{config.oidc.redirectUri}}}'
     };

     {{#user}}
     options.user = {
       email: '{{user.email}}',
       iss: '{{user.claims.iss}}',
       iat: {{user.claims.iat}},
       exp: {{user.claims.exp}}
     };
     {{/user}}

     doc.initDoc();
     bundle.bootstrap(options);
    </script>
  </body>
</html>
