<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>App</title>
    <link href="/assets/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/okta-theme.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/hljs/tomorrow.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/semantic-ui/semantic.min.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/samples.css" type="text/css" rel="stylesheet"/>
    <base href="/"/>
  </head>
  <body id="samples">
    <div class="ui inverted left fixed vertical menu">
      <a id="item-overview" class="item" href="/">Overview</a>
      <div id="section-authorization-code" class="item">
        <div class="header">Authorization Code</div>
        <div class="menu">
          <a id="item-login-redirect" data-se="auth-code-login-redirect" class="item" href="/authorization-code/login-redirect">
            Login by redirecting to Okta
          </a>
          <a id="item-login-custom" data-se="auth-code-login-custom" class="item" href="/authorization-code/login-custom">
            Create a custom login page
          </a>
        </div>
      </div>
    </div>

    <div id="content" class="ui padded grid relaxed">
        <div id="doc" class="column eight wide"><div class="doc-profile">
  <h2 class="ui dividing header">
    You are now signed in
    <div class="sub header">Authorization code grant</div>
  </h2>

  <p>
    This sample demonstrated a basic
    <a href="https://tools.ietf.org/html/rfc6749#section-4.1">
      Authorization Code Grant
    </a>
    flow, where the <strong>id_token</strong> is used to set a session cookie:
    <ol class="ui list">
      <li>
        Redirect to the
        <a href="http://developer.okta.com/docs/api/resources/oidc.html#authentication-request">
          /authorize
        </a>
        endpoint to get an <strong>authorization code</strong>
        <div class="ui info message">
          In the custom login flow, we were able to skip authentication in the
          redirect by passing the <strong>sessionToken</strong> returned from
          logging in through the
          <a href="http://developer.okta.com/code/javascript/okta_sign-in_widget.html">
            Sign-In Widget
          </a>
        </div>
      </li>
      <li>
        Exchange the <strong>authorization code</strong> for an
        <strong>id_token</strong> using the
        <a href="http://developer.okta.com/docs/api/resources/oidc.html#token-request">
          /token
        </a> endpoint
      </li>
      <li>
        <a href="http://developer.okta.com/docs/api/resources/oidc.html#validating-id-tokens">
          Validate the <strong>id_token</strong> claims and signature
        </a>
      </li>
      <li>
        Set a session cookie with the profile information returned from
        the <strong>id_token</strong>
        <div class="ui info message">
          Check out the documentation to
          <a href="http://developer.okta.com/docs/api/resources/oidc.html#id-token-claims">
            see what other claims are returned in the <strong>id_token</strong>
          </a>.
        </div>
      </li>
    </ol>
  </p>
</div>
</div>
        <div class="column seven wide sample-col right floated">
          <div class="ui orange labels">
            <div class="ui label" data-tooltip="Backend" data-inverted="" data-position="bottom center">
              {{#config.server.environment}}
                {{#config.server.framework}}
                  {{config.server.framework}}
                  <div class="detail">{{config.server.environment}}</div>
                {{/config.server.framework}}
                {{^config.server.framework}}
                  {{config.server.environment}}
                {{/config.server.framework}}
              {{/config.server.environment}}
              {{^config.server.environment}}
                Express <div class="detail">NodeJS</div>
              {{/config.server.environment}}
            </div>
            <div class="ui label" data-tooltip="Frontend" data-inverted="" data-position="bottom center">
              <span id="frontend-framework">
                <span data-se="js-loading" class="ui active inline loader mini inverted"></span>
              </span>
              <div class="detail" id="frontend-environment"></div>
            </div>
          </div>
          <div id="app-container">
            <div id="default-app-text">&lbrace;&lbrace; Samples render here &rbrace;&rbrace;</div>
          </div>
        </div>
    </div>

    {{#config.server.useWebpackDevServer}}
    <script src="/webpack-dev-server.js"></script>
    {{/config.server.useWebpackDevServer}}

    <script src="/assets/bundle.js"></script>
    <script src="/assets/doc.js"></script>
    <script>
     var options = {
       container: '#app-container',
       oktaUrl: '{{{config.oidc.oktaUrl}}}',
       issuer: '{{{config.oidc.issuer}}}',
       clientId: '{{config.oidc.clientId}}',
       redirectUri: '{{{config.oidc.redirectUri}}}'
     };

     {{#user}}
     options.user = {
       email: '{{user.email}}',
       iss: '{{user.claims.iss}}',
       iat: {{user.claims.iat}},
       exp: {{user.claims.exp}}
     };
     {{/user}}

     doc.initDoc();
     bundle.bootstrap(options);
    </script>
  </body>
</html>
