<div class="doc-login-redirect">
  <h2 class="ui dividing header">
    Login by redirecting to Okta
    <div class="sub header">Authorization code grant</div>
  </h2>

  <p>
    If you don't need a custom login page, you can redirect directly to Okta to
    retrieve an OAuth token in the Authorization Code flow. To construct the
    redirect link, you can either:
  </p>
  <ul class="ui list">
    <li>
      Use <a href="https://github.com/okta/okta-auth-js">Okta Auth JS</a>
      and the <strong>getWithRedirect</strong> function to create the link for you.
    </li>
    <li>
      Manually construct the link and pass the correct query parameters by
      referring to the
      <a href="http://developer.okta.com/docs/api/resources/oidc.html#authentication-request">
        /authorize endpoint
      </a>
      documentation.
    </li>
  </ul>

  <div class="example">
    <h3>Example using Auth JS</h3>
    <div class="ui segment">
      <pre><code class="javascript">const auth = new OktaAuth({
  url: '{{config.oidc.oktaUrl}}',
  clientId: '{{config.oidc.clientId}}',
  redirectUri: '{{config.oidc.redirectUri}}',
  scopes: ['openid', 'email', 'profile'],
});

auth.token.getWithRedirect({
  responseType: 'code'
});</code></pre>
    </div>
  </div>
</div>
