<div class="doc-profile">
  <h2 class="ui dividing header">
    You are now signed in
    <div class="sub header">Authorization code grant</div>
  </h2>

  <p>
    This sample demonstrated a basic
    <a href="https://tools.ietf.org/html/rfc6749#section-4.1">
      Authorization Code Grant
    </a>
    flow, where the <strong>id_token</strong> is used to set a session cookie:
    <ol class="ui list">
      <li>
        Redirect to the
        <a href="http://developer.okta.com/docs/api/resources/oidc.html#authentication-request">
          /authorize
        </a>
        endpoint to get an <strong>authorization code</strong>
        <div class="ui info message">
          In the custom login flow, we were able to skip authentication in the
          redirect by passing the <strong>sessionToken</strong> returned from
          logging in through the
          <a href="http://developer.okta.com/code/javascript/okta_sign-in_widget.html">
            Sign-In Widget
          </a>
        </div>
      </li>
      <li>
        Exchange the <strong>authorization code</strong> for an
        <strong>id_token</strong> using the
        <a href="http://developer.okta.com/docs/api/resources/oidc.html#token-request">
          /token
        </a> endpoint
      </li>
      <li>
        <a href="http://developer.okta.com/docs/api/resources/oidc.html#validating-id-tokens">
          Validate the <strong>id_token</strong> claims and signature
        </a>
      </li>
      <li>
        Set a session cookie with the profile information returned from
        the <strong>id_token</strong>
        <div class="ui info message">
          Check out the documentation to
          <a href="http://developer.okta.com/docs/api/resources/oidc.html#id-token-claims">
            see what other claims are returned in the <strong>id_token</strong>
          </a>.
        </div>
      </li>
    </ol>
  </p>
</div>
